<div class="content-wrapper" style="background-color: aliceblue; min-height: 100vh;">
  <br><br>
  <div class="content">
    <div class="hold-transition">
      <div class="container col-sm-4">
        <div class="login-box">
          <div class="container">
            <a href="#" class="navbar-brand">
              <img src="../../logo.png" alt="JNDTECH Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
              <b class="login-logo">EASYCOM-PRO</b>Gestion Commercial
            </a>
          </div>

          <div class="card card-primary card-outline">
            <div class="card-body login-card-body card-primary">
              <p class="login-box-msg">
                Pour votre sécurité, vous devez changer votre mot de passe avant de continuer.
              </p>

              <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Mot de passe actuel"
                         name="ancienMotDePasse" [(ngModel)]="ancienMotDePasse" required>
                  <div class="input-group-append">
                    <div class="input-group-text"><span class="fas fa-lock"></span></div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Nouveau mot de passe"
                         name="nouveauMotDePasse" [(ngModel)]="nouveauMotDePasse" required>
                  <div class="input-group-append">
                    <div class="input-group-text"><span class="fas fa-key"></span></div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Confirmer le nouveau mot de passe"
                         name="confirmationMotDePasse" [(ngModel)]="confirmationMotDePasse" required>
                  <div class="input-group-append">
                    <div class="input-group-text"><span class="fas fa-key"></span></div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid || saving">
                  Changer le mot de passe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
