<!-- src/app/components/sidebar/sidebar.component.html -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../logo.png" alt="JNDTECH" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">JNDTECH</span>
    </a>
  
    <!-- Sidebar -->
    <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="user">
      <div class="image">
        <img [src]="imagePath" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.firstName }} {{ user.lastName }}</a>
      </div>
    </div>

   
  

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a [routerLink]="item.route" routerLinkActive="active" class="nav-link" *ngIf="item.children.length === 0">
            <i class="nav-icon {{item.icon}}"></i>
            <p>{{item.title}}</p>
          </a>
          <a href="#" class="nav-link" *ngIf="item.children.length > 0">
            <i class="nav-icon {{item.icon}}"></i>
            <p>
              {{item.title}}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" *ngIf="item.children.length > 0">
            <li class="nav-item" *ngFor="let child of item.children">
              <a [routerLink]="child.route" routerLinkActive="active" class="nav-link">
                <i class="{{child.icon}} nav-icon"></i>
                <p>{{child.title}}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

  </aside>
